.sprite-image.ico_delete { background-position:  -0px -0px; height: 16px; width: 16px; }
.sprite-image.ico_delete_on { background-position:  -0px -16px; height: 16px; width: 16px; }
.sprite-image.ico_delete_over { background-position:  -0px -32px; height: 16px; width: 16px; }
.sprite-image.ico_folder { background-position:  -0px -48px; height: 17px; width: 16px; }
.sprite-image.ico_folder_on { background-position:  -0px -65px; height: 17px; width: 16px; }
.sprite-image.ico_folder_over { background-position:  -0px -82px; height: 17px; width: 16px; }
.sprite-image.ico_info { background-position:  -0px -99px; height: 16px; width: 16px; }
.sprite-image.ico_info_on { background-position:  -0px -115px; height: 16px; width: 16px; }
.sprite-image.ico_info_over { background-position:  -0px -131px; height: 16px; width: 16px; }
.sprite-image.ico_paste { background-position:  -0px -147px; height: 16px; width: 14px; }
.sprite-image.ico_paste_on { background-position:  -0px -163px; height: 16px; width: 14px; }
.sprite-image.ico_paste_over { background-position:  -0px -179px; height: 16px; width: 14px; }
.sprite-image.ico_stop { background-position:  -0px -195px; height: 15px; width: 16px; }
.sprite-image.ico_stop_on { background-position:  -0px -210px; height: 15px; width: 16px; }
.sprite-image.ico_stop_over { background-position:  -0px -225px; height: 15px; width: 16px; }
.sprite-image.ico_write { background-position:  -0px -240px; height: 16px; width: 16px; }
.sprite-image.ico_write_on { background-position:  -0px -256px; height: 16px; width: 16px; }
.sprite-image.ico_write_over { background-position:  -0px -272px; height: 16px; width: 16px; }
